:root {
    --primary:#242423;
    --secondary: #333533;
    --third: #F5CB5C;
    --fourth: #CFDBD5;
    --fifth: #E8EDDF;
}

body{
    background-color: var(--primary);
    color: var(--fifth);
    display: flex;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.formulario{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 30px;
}

.resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}


select {
    appearance: initial; /* Restablece la apariencia predeterminada */
    -webkit-appearance: initial; /* Para navegadores basados en WebKit */
    -moz-appearance: initial; /* Para navegadores basados en Gecko */
    padding: initial; /* Restablece el padding */
    background: initial; /* Restablece el fondo */
    border: initial; /* Restablece el borde */
    border-radius: initial; /* Restablece el borde redondeado */
    box-shadow: initial; /* Restablece las sombras */
    color: initial; /* Restablece el color de texto */
    font: initial; /* Restablece la fuente */

    background-color: #333533;
    color: var(--fifth);
    padding-left: 10px;
    width: 400px;
    height: 35px;
  }

input[type="submit"]{
    background-color: var(--third);
    color: var(--primary);
    width: 400px;
    height: 35px;
    margin-top: 40px;
}